<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Script</title>
    <script src="/static/vue.js"></script>
    <script src="/static/public.js"></script>
</head>
<body>
<div id="app">
    <table>
        <tr>
            <td><label>category</label></td>
            <td><select v-model="category" v-on:blur="categoryBlur">
                <option v-for="(item, index) in categorys" v-bind:value="item">{{ item }}</option>
              </select>
            </td>
        </tr>
        <tr>
            <td><label>name</label></td>
            <td><select v-model="name">
              <option v-for="(item, index) in names" v-bind:value="item">{{ item }}</option>
            </select></td>
        </tr>
    </table>

    <div>
        <textarea rows=40 cols="200" v-model="content" style="margin-top: 6px;"></textarea>
    </div>
    <div>
        <button v-on:click="queryClick">query</button>
        <button v-on:click="submitClick">submit</button>
        <button v-on:click="deleteClick">delete</button>
    </div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      name: '',
      category: '',
      names: [],
      categorys: [],
      content: '',
    },
    mounted() {
      fetchSetCategory(this)
    },
    methods: {
      categoryBlur: function (event) {
        postData('/script/category/list', { category: this.category, name: '' })
          .then((resp) => {
            this.names = resp.data.names
            this.name = this.names[0]
            localStorage.setItem('category', this.category)
          })
      },
      submitClick: function (event) {
        console.log(this.name === "")
        postData('/script/update', { content: this.content, name: this.name === "" ? "service" : this.name, category: this.category, method: 'new' })
          .then((resp) => { console.log(resp) })
      },
      queryClick: function (event) {
        postData('/script/query', { content: this.content, name: this.name, category: this.category })
          .then((resp) => {
            this.content = resp.data.content
          })
          .catch((e) => { console.log(e) })
      },
      deleteClick: function (event) {
        postData('/script/update', { name: this.name, category: this.category, method: 'delete' })
          .then((resp) => {
            this.content = ''
          })
      },
    }
  })
        </script>
</body>

</html>